body, html {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #212A31; */
    font-family: 'Lucida Grande', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

strong {
    font-size: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid lightgray; */
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    top: 0;
    background-color: white;
}

.social_links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 50px;
}

.social_link {
}

.page_links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 50px;
}

.page_link {
    font-size: 25px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 150px 450px 350px 200px;
    gap: 75px;
}

.hello {
    /* background-image: linear-gradient(red, blue);
    color:transparent;
    background-clip: text; */
    font-size: 40px;
}

.bio {
    font-size: 40px;
}

.about {
    display: flex;
    justify-content: center;
    /* margin: 0px 350px 150px 350px; */
    margin: 0;
    padding: 0px 350px 150px 350px;
    /* margin: 100px 30px 150px 150px; */
    gap: 30px;
}

.about_header {
    font-size: 30px;
    white-space: nowrap;
}

.about_paragraph {
    font-size: 20px
}