.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px 50px;
    position: sticky;
    gap: 15%;
    top: 0;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
    z-index: 9999;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.rightContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pageLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 750px) {
    .header {
        margin: 0px 20px;
    }

    .pageLinks {
        display: none;
    }
}
